{% extends 'base.html.twig' %}

{% block title %}New HotelStaff{% endblock %}

{% block body %}
    <h1>Create new HotelStaff</h1>

    {{ include('hotel_staff/_form.html.twig') }}

    <a href="{{ path('app_hotel_staff_index') }}">back to list</a>
{% endblock %}
