{% extends 'base.html.twig' %}

{% block title %}New Guests{% endblock %}

{% block body %}
    <h1>Create new Guests</h1>

    {{ include('guests/_form.html.twig') }}

    <a href="{{ path('app_guests_index') }}">back to list</a>
{% endblock %}
